.container {
  display: flex;
  flex-direction: column;
  gap: 1.3125rem;
  height: calc(100vh - 4.5rem);
  overflow: hidden;
  justify-content: center;
}

.form {
  display: flex;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: var(--gap-spacing-07, 1.5rem) var(--gap-spacing-08, 2rem);
  flex-direction: column;
  align-items: center;
  gap: var(--gap-spacing-07, 1.5rem);
  border-radius: var(--radius-radius-02, 0.5rem);
  background: var(--color-fill-primary, #fff);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-spacing-07, 1.5rem);
}

.text {
  font-size: 0.7rem;
}
