.container {
  display: flex;
  height: calc(100vh - 4.5rem);
  overflow: hidden;
}

.bodyContainer {
  display: flex;
  padding: var(--gap-spacing-10, 3.375rem) var(--gap-spacing-11, 7.5rem);
  flex-direction: column;
  align-items: center;
  gap: var(--gap-spacing-07, 1.5rem);
  flex: 1 0 0;
  align-self: stretch;
  overflow-y: auto;
}
